<!DOCTYPE html>
<html>
<head>
<h1>convert number to persian number</h1>
<p>sample .</p>
</head>
<body>

<label id="lblEnglishNumber" >sample digit is : </label>
<label id="EnglishNumber" style="font-weight: bold;">
1234567890</label>
</br></br>
<label id="lblPersianNumber" >Persian digit is : </label>
<div id="PersianNumber" >s</div>

</body>
<footer></footer>

</html>